@import url('https://fonts.googleapis.com/css2?family=Orelega+One');
body {
    background: #08131f;
    font-family: 'Orelega One', sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 375px;
    height: 812px;
    background: #1c253f;
    border-radius: 40px;
    margin-top: 10px;
}

i.nav-icon {
    color: #585f8b;
    font-size: 1.5em;
    cursor: pointer;
}

div.dot {
    width: 10px;
    height: 10px;
    background: #ce2eff;
    border-radius: 50%;
    top: 0;
    right: 0;
}

span.heading {
    font-size: 2em;
    color: #fff0ff;
    font-weight: 900;
    letter-spacing: 2px;
}

span.sub-heading {
    color: #585f8b;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 1px;
}

div.menu {
    background: #162037;
    color: #585F8B;
    border-radius: 10px;
    font-weight: 900;
    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    min-height: 40px;
}

span.active {
    background: linear-gradient(to right, #ce2eff, #a02ff6);
    border-radius: 10px;
    color: #fff0ff;
    margin: 5px;
}

input.active {
    background: linear-gradient(to right, #ce2eff, #a02ff6);
    border-radius: 15px;
    color: #fff0ff;
    margin: 10px;
    border: none;
    font-size: 20px;
}

span.clone {
    background: linear-gradient(to right, #ce2eff, #a02ff6);
    border-radius: 15px;
    color: #fff0ff;
    margin: 10px;
    border: none;
    font-size: 20px;
}

span.filter {
    border-radius: 10px;
    background: #162037;
    color: #585F8B;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}

span.add-filter {
    background: #162037;
    color: #fff0ff;
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}

i.filter-icon {
    font-size: 10px;
}

span.filter-active {
    color: #fff0ff;
}

span.expense-label {
    color: #fff0ff;
    position: relative;
    z-index: 0;
    font-size: 20px;
}

span.expense-label::before {
    content: "";
    position: absolute;
    background: #4d2472;
    width: 60px;
    height: 8px;
    top: 28px;
    left: 8px;
    z-index: -1;
}

span.expense {
    color: #FFF0FF;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 32px;
}

span.label-tag {
    font-size: 14px;
    font-weight: 900;
    color: #585F8B;
    letter-spacing: 1px;
}

td.chart-label {
    font-size: 12px;
    font-weight: 900;
    color: #fff0ff;
}

div.report-bg {
    overflow-y: scroll;
    background: #162037;
    border-radius: 25px;
    height: 45%;
    letter-spacing: 1px;
}

div.chart-bg {
    background: #162037;
    border-radius: 25px;
}

a {
    text-decoration: none !important;
}

span.add-button {
    background: #162037;
    border-radius: 10px;
    color: #fff0ff;
    border: 1px solid #585F8B;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
}

span.add-button:hover {
    border: 1px solid #fff0ff;
}

td.income {
    color: lightgreen;
}

td.expenses {
    color: #CC3434;
}

div.delete-b {
    position: fixed;
    width: 375px;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
}

input[type=submit].delete-b {
    padding:5px 15px;
    background: #585F8B;
    color: #fff0ff;
    border: 1px solid #1c253f;
    cursor: pointer;
    border-radius: 10px;
}

div.login {
    padding-top: 25%;
}