{% extends "base_template.html" %}
{%  block content %}
    <div class="text-center mt-5">
        <span class="heading">Отчеты</span>
    </div>

    <div class="text-center">
        <span class="sub-heading">Посмотрите информацию о ваших финансах</span>
    </div>

    <div class="d-flex flex-row menu mt-2 mx-2 justify-content-between align-items-center">
        {% for report in reports %}
            <span class="px-4 py-2 active">{{ report.name }}</span>
        {% endfor %}
        <a href="/create-report/">
            <span class="add-filter px-4 py-2">
                <i class="fas fa-plus filter-icon"></i>
                Добавить
            </span>
        </a>
    </div>
    <div class="d-flex flex-column mt-3 mx-4">
        <div class="d-flex flex-row justify-content-between align-items-center">
                <span class="expense-label">Доход:</span>
                <span class="expense">{{ reports.0.income }} руб</span>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center">
                <span class="expense-label">Расход:</span>
                <span class="expense">{{ reports.0.expenses }} руб</span>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center">
                <span class="expense-label">Итого:</span>
                <span class="expense">{{ reports.0.total }} руб</span>
        </div>
    </div>
    <div class="d-flex flex-column report-bg mx-2 mt-4 pb-2 align-items-center">
        <span class="sub-heading mt-2">Совершенные операции</span>
        <table>
            {% for operation in operations %}
                <tr>
                    <td class="chart-label">{{ operation.amount }}</td>
                    <td class="chart-label pl-4">{{ operation.article }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}