{% extends "base_template.html" %}
{%  block content %}
    <div class="text-center mt-5">
        <span class="heading">Отчеты</span>
    </div>

    <div class="text-center">
        <span class="sub-heading">Посмотрите информацию о ваших финансах</span>
    </div>

    <div class="d-flex flex-row menu mt-5 mx-2 justify-content-between align-items-center">
        <span class="px-4 py-2 active">Расходы</span>
        <span class="px-4 py-2">Доходы</span>
        <span class="px-4 py-2">Суммарно</span>
    </div>

    <div class="d-flex flex-row mt-4 mx-2 align-items-center">
        <span class="filter px-3 py-3 mr-2">Неделя</span>
        <span class="filter px-3 py-3 mr-2 filter-active">Месяц</span>
        <span class="add-filter px-3 py-3">
            <i class="fas fa-plus filter-icon"></i>
            Добавить</span>
    </div>

    <div class="d-flex flex-column chart-bg mx-2 mt-4">
        <div class="d-flex flex-row justify-content-between align-items-center p-4">
            <span class="expense-label">Всего:</span>
            <span class="expense">460 руб</span>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-end p-4" style="height:250px;">
            <div class="d-flex flex-column align-items-center">
                <div class="position-relative">
                    <div class="bar-1 position-absolute" style="height: 170px;"></div>
                    <div class="bar-2" style="height: 200px;"></div>
                </div>
                <span class="chart-label mt-3">Пн</span>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="position-relative">
                    <div class="bar-1 position-absolute" style="height: 110px;"></div>
                    <div class="bar-2" style="height: 140px;"></div>
                </div>
                <span class="chart-label mt-3">Вт</span>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="position-relative">
                    <div class="bar-1 position-absolute" style="height: 60px;"></div>
                    <div class="bar-2" style="height: 90px;"></div>
                </div>
                <span class="chart-label mt-3">Ср</span>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="position-relative">
                    <div class="bar-1 position-absolute" style="height: 30px;"></div>
                    <div class="bar-2" style="height: 60px;"></div>
                </div>
                <span class="chart-label mt-3">Чт</span>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="position-relative">
                    <div class="bar-1 position-absolute" style="height: 100px;"></div>
                    <div class="bar-2" style="height: 130px;"></div>
                </div>
                <span class="chart-label mt-3">Пт</span>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="position-relative">
                    <div class="bar-1 position-absolute" style="height: 40px;"></div>
                    <div class="bar-2" style="height: 70px;"></div>
                </div>
                <span class="chart-label mt-3">Сб</span>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="position-relative">
                    <div class="bar-1 position-absolute" style="height: 60px;"></div>
                    <div class="bar-2" style="height: 90px;"></div>
                </div>
                <span class="chart-label mt-3">Вс</span>
            </div>

        </div>
    </div>
{% endblock %}